* {
  outline: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}


footer.blockquote-footer::before {
  content: none;
}

.panel-title,
li.list-group-item {
  font-weight: 700;
  font-family: 'Roboto Condensed';
  font-size: 1.3em;
  padding: 0 auto;
}


.footer-name-text,
.footer-description1,
.footer-description2 {
  font-family: 'Roboto Condensed';
}

.footer-logo {
  animation: footer-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  height: 2.2em;
  width: 2.2em;
}


@keyframes footer-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.teleport-logo {
  height: 40vmin;
  padding: 0.5em;
  pointer-events: none;
  height: 3.5em;
  width: 3.5em;
}

.summary {
  text-align: center;
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-size: 1.3em;
  padding: 1em;
}

.teleport_score,
.latitude,
.longitude,
.urban_area,
.population,
.timezone {
  text-align: center;
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-size: 1.2em;
  padding-bottom: 1em;
}

.title_format {
  font-family: 'Roboto Condensed';
  display: inline;
  font-weight: 800 !important;
  color: black;
  font-size: 1em;
}


/* MEDIA QUERIES FOR FORM
On screens that are 768px or less*/
@media screen and (max-width: 768px) {

  div.form-group {
    margin: 0px auto;
  }

  div.form-group .form-control {
    display: inline-block;
    width: 60%;
    float: left;
    margin: 0px 4%;
  }

}