*
{
    outline: none;
}

html, body
{
    height: 100%;
    min-height: 100%;
}

footer.blockquote-footer::before {
    content: none;
}

.panel-title, li.list-group-item {
    font-weight: 700;
    font-family: 'Roboto Condensed';
    font-size: 1.3em;
    padding: 0 auto;
}
